.content-channel {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    z-index: 91;
    .side-channel {
        position: relative;
        min-height: 100%;
        min-width: 280px;
        padding-top: 54px;
        padding-bottom: 75px;
        background-color: #171a1c;
    }

}

.wrapper-content {
    width: 100%;
}


ng-scrollbar {

    --scrollbar-transition-duration: 0.2s;
    --scrollbar-transition-delay: .2s;
    --scrollbar-thumb-transition: height ease-out .2s, width ease-out .2;
    --scrollbar-track-transition: height ease-out .2, width ease-out .2;
  }


.channels {
    padding: 0 10px;
    .channel-category {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;     
        font-weight: 600;  
        width: 100%;
        .category-name {
            font-weight: 600;
            font-size: 13px;
        }
    }
    .channel-list {
        list-style: none;
        padding: 0;
    }
}

.channel-text {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px 8px;
    margin-bottom: 3px;
    transition: all ease-in-out 120ms;
    display: flex;
    align-items: center;
    color: #c9c9c9;
    svg {
       
        margin-right: 7px;
    }
    span {
        font-weight: 500;
    }
    &.active {
        color: #fff;
        transition: all ease-in-out 120ms;
        background-color: hsl(220deg 7% 16%);

    }
    &:hover {
        cursor: pointer;
        transition: all ease-in-out 120ms;
        background-color: hsl(220deg 7% 16%);
    }
}

.list-connected {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    .connected-item {
        min-height: 38px;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 38px;
        padding-right: 5px;
        color: #c9c9c9;
        margin-bottom: 3px;
        &:hover {
            background-color: #26282c;
            color: #fff;
        }

        .icon-wrapper {
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            figure {
                height: 21px;
                width: 21px;
                border-radius: 15%;
                background-color: #3a3a3a;
                border: 2px solid transparent;
            }
        }
        &.voice {
            figure {
                border-color: #6a5fff !important;
            }
        }
        .name {
            font-weight: 600;
            font-size: 14px;
        }
        .connected-inner {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
        .voiceActivity {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #c9c9c9;
            svg {
                height: 18px;
                width: 18px;
            }
        }
    }
}



.guild-info-wrapper {
    background: #27292d;
    min-height: 54px;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 15px;
    box-shadow:  0 5px 5px rgb(0 0 0 / 10%);
    .title {
        font-weight: 600;
        font-size: 15px;
    }
}

.add-button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: transparent;
    appearance: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.452);
    &:hover {
        color: #fff;
    }
}