.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #6a5fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .root {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
  }

  .user-content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    z-index: 99;
    min-width: 280px;
    position: fixed;
    bottom: 0;
    .user-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-radius: 5px;
      background-color: #27292d;
      padding: 10px;
    }
    .user {
      flex: 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
   
      width: 100%;
      &:hover {
        filter: brightness(1.1);
      }
    }
    .name {
      font-weight: 600;
    }
    .avatar {
      margin-right: 5px;
      position: relative;
      cursor: pointer;
      picture {
        height: 35px;
        width: 35px;
        border-radius: 20%;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #3f4145;
      }
    }
  }

  .channel-info {
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 12px;
    color: #c9c9c9;
  }

  .voice-state {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: rgb(70, 196, 110);
    svg {
      fill: rgb(70, 196, 110);
      margin-right: 5px;
    }
  }

  .channel-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .control-button {
    height: 37px;
    width: 37px;
    border-radius: 5px;
    appearance: none;
    appearance: none;
    border: none;
    color: #c9c9c9;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: #27292d;
      color: #fff;
    }
    // svg {
    //   font-size: 24px;
    // }
  }

  .state-wrapper {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    .state-inner {
      display: flex;
      flex: 1 auto;
      flex-direction: column;
    }
  }

  .status {
    position: absolute;
    bottom: -4px;
    background-color: #eee;
    right: -1px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 3px solid #222426;
    &.OFFLINE {
      background-color: #3f4145;
    }
    &.ONLINE {
      background-color: #009e42;
    }
    &.BUZY {
      background-color: #ff4949;
    }
    &.AFK {
      background-color: #ffd900;
    }
  }

  .username {
    font-size: 13px;
    color: #9598ad;
  }

  .name-username {
    display: flex;
    flex-direction: column;
  }

  .status-item {
    display: inline-block;
    background-color: #eee;
    min-height: 10px;
    max-height: 10px;
    min-width: 10px;
    max-width: 10px;
    border-radius: 50%;
    &.OFFLINE {
      background-color: #3f4145;
    }
    &.ONLINE {
      background-color: #009e42;
    }
    &.BUZY {
      background-color: #ff4949;
    }
    &.AFK {
      background-color: #ffd900;
    }
  }