<div class="chat-content">
    <div class="header-channel" >
        <div class="channel-info" *ngIf="type == 'CHANNEL'">
            {{ channel.name }}
        </div>
        <div class="channel-info" *ngIf="type == 'DM'">
            {{ channel.recipients[0].name }}
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-wrapper">
            <div class="chat-view">
                <ng-scrollbar #scrollable [appearance]="'compact'" [pointerEventsMethod]="'scrollbar'"   (updated)="scrollBottom()" [autoHeightDisabled]="false" [track]="'vertical'" [visibility]="'native'" >
                    <div class="chat-inner" 
                    >
                        <ul class="chat-list">
                            
                            <li class="index" *ngIf="type == 'CHANNEL' && channel.first_message && messages[0]?._id == channel.first_message[0]?._id">
                                <h2>Bem-vindo(a) a {{channel.name}}</h2>
                                <span>Este é o inicio do canal <b>{{channel.name}}</b>.</span>
                            </li>
                           <div *ngFor="let message of messages; let i = index" >
                            <div class="row-date" *ngIf="i == 0 || (message.createdAt | date: 'dd MMMM yyyy') != (messages[i-1].createdAt | date: 'dd MMMM yyyy')">
                                <div class="col-lg-12 d-flex flex-row align-items-center justify-content-center my-2">
                                    <div class="date text-center">
                                        {{ message.createdAt | date: "dd" }} de {{ message.createdAt | date: "MMMM" }} de {{ message.createdAt | date: "yyyy" }}
                                    </div>
                                </div>
                            </div>
                                <li class="chat-item"  [id]="'message-'+i" [ngClass]="{ 
                                    'isOwn': message.author._id == me.meSubject.value._id, 
                                    'slide-top':  message.animation,
                                    'first-block': message.type == 0 && (i == 0 || ( (message.author._id != messages[i-1].author._id) || (message.createdAt | date: 'dd MMMM yyyy hh') != (messages[i-1].createdAt | date: 'dd MMMM yyyy hh'))) || message.referenced_message,
                                    'same-block':  i > 0 &&( (message.author._id == messages[i-1].author._id) || (message.createdAt | date: 'dd MMMM yyyy hh') == (messages[i-1].createdAt | date: 'dd MMMM yyyy hh')),
                                    'recived': message.recived,
                                    'replayedNotification': message.author._id != this.currentUser._id && message.referenced_message && message.referenced_message.author._id == this.currentUser._id,
                                    'replayedShow': message.replay_show,
                                    'replayState': currentReplayState && currentReplayState?._id == message._id }">
                                    <div *ngIf="message.type == 0" class="message-type">
                                        <div class="author" *ngIf="
                                            i == 0 || ( (message.author._id != messages[i-1].author._id) || (message.createdAt | date: 'dd MMMM yyyy hh') != (messages[i-1].createdAt | date: 'dd MMMM yyyy hh')) || message.referenced_message
                                        ">
                                            <div class="author-wrapper">
                                                
                                                <picture *ngIf="!message.author.icon" style="background-image: url(https://eu.ui-avatars.com/api/?name={{message.author.name | placeholderNameImage}}&size=250&background=a49eff)"></picture>
                                                <picture *ngIf="message.author.icon" [ngStyle]="{'background-image': 'url('+message.author.icon+')'}"></picture>
                                            </div>
                                        </div>
                                        <div class="baloon-wrapper">
                                            <div class="author-info" *ngIf="
                                            i == 0 || ( (message.author._id != messages[i-1].author._id) || (message.createdAt | date: 'dd MMMM yyyy hh') != (messages[i-1].createdAt | date: 'dd MMMM yyyy hh')) || message.referenced_message
                                            ">
                                                <span class="name">{{ message.author.name }}</span>
                                                <span class="datetime">{{ message.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
                                            </div>
                                            <div class="baloon">
                                                <div *ngIf="message.referenced_message" class="message-replyed" (click)="getAround(message.referenced_message._id)">
                                                    <div class="replay-author">
                                                        <span class="name">{{ message.referenced_message.author.name }}</span>
                                                    </div>
                                                    <div [innerHTML]="appendMessage(message.referenced_message)"></div>
                                                </div>
                                                <div [innerHTML]="appendMessage(message)" class="markdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="message.type == 2" style="padding: 10px 0;" class="message-type">
                                        <span><b>{{ message.author.name }}</b> acabou de entrar!</span>
                                    </div>
                                    <span class="time">{{ message.createdAt | date:'HH:mm' }}</span>
                                    <div class="message-options">
                                        <button class="message-option" matTooltip="Responder"  [matTooltipPosition]="'above'" [matTooltipClass]="{'simple-tooltip': true}" (click)="replayState(message)">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                                            </svg>
                                        </button>
                                        <button class="message-option delete" *ngIf="message.author._id == currentUser._id" matTooltip="Excluir" [matTooltipPosition]="'above'" [matTooltipClass]="{'simple-tooltip': true}" 
                                            (click)="deleteMessage(message, i)"
                                        >
                                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                          </svg>
                                        </button>
                                    </div>
                                </li>
                           </div>
                          
                        </ul>
                    </div>
                  </ng-scrollbar>
               
            </div>
            <div class="chat-form">
                
                <div class="text-form">
                    <div class="replayedMessage" *ngIf="currentReplayState != null" [ngClass]="{'show': currentReplayState?.show}">
                        <div class="replay-wrapper show" (click)="scrollToReplayed()">
                            <div class="replay-info" >
                                <span>Respondendo para <b>{{ currentReplayState.author.name }}</b></span>
                                <markdown emoji [innerHTML]="currentReplayState.content"></markdown>
                            </div>
                            <div class="replay-options">
                                <button class="close" type="button" (click)="removeReplayState()">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-area-wrapper">
                        <textarea type="text" [formControl]="content" (keypress)="sendMessageEnter($event)" (keypress)="typing()" 
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        #textArea
                        [placeholder]="'Conversar sem #'+channel.name"
                        cdkAutosizeMaxRows="5"></textarea>
                        <div class="text-options">
                            <button (click)="sendMessage()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" heigt="24" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                                  </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="chat-text-wrapper">
                    <div class="typing-wrapper" *ngIf="typingUsers.length > 0">
                        <svg height="20" width="40" class="loader">
                            <circle class="dot" cx="10" cy="10px" r="3" style="fill:grey;" />
                            <circle class="dot" cx="20" cy="10px" r="3" style="fill:grey;" />
                            <circle class="dot" cx="30" cy="10px" r="3" style="fill:grey;" />
                          </svg>
                          <div [innerHTML]="getTyping()" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guild-wrapper" *ngIf="type == 'CHANNEL'">
            <list-members [guildId]="guildId || ''"></list-members>
        </div>
    </div>
</div>