.header-channel {
    min-height: 54px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 99;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

.chat-content {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
}

.chat-container {
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}

.guild-wrapper {
    height: 100%;
    min-width: 240px;
    max-width: 100%;
    background-color: #171a1c;
    z-index: 2;
}

.chat-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    .chat-view {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 0;
        min-width: 0;
        z-index: 0;
    }
    .chat-form {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 37px;
        margin-top: -8px;
        min-height: 80px;
        max-height: 100%;
        transition: all ease-in-out 120ms;
        &.replayedState {
            padding-top: 37px;
            min-height: 117px;
            transition: all ease-in-out 120ms;
        }
        
    }
}



.text-form {
    display: flex;
    align-items: center;
    background-color: #27292e;
    padding: 8px 10px;
    border-radius: 8px;
    z-index: 2;
    flex-direction: column;
    .text-area-wrapper {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        flex: 1 auto;
    }
    input, textarea {
        display: flex;
        height: 100%;
        width: 100%;
        display: block;
        background-color: transparent;
        appearance: none;
        border: none;
        outline: none;
        color: #fff;
        font-size: 15px;
        min-height: 29px !important;
    }

    button {
        margin-left: 5px;
        background-color: transparent;
        appearance: none;
        border: none;
        outline: none;
        color: #fff;
        opacity: .8;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}

.chat-inner{
    display: flex;
    min-height: calc(100vh - 80px - 80px);
    flex-direction: column-reverse;
}

ng-scrollbar {
    --scrollbar-border-radius: 7px;
    --scrollbar-padding: 4px;
    --scrollbar-track-color: #0000003d;
    --scrollbar-thumb-color: rgb(255 255 255 / 20%);
    --scrollbar-thumb-hover-color: rgb(255 255 255 / 52%);
    --scrollbar-size: 7px;
    --scrollbar-hover-size: var(--scrollbar-size);
    --scrollbar-overscroll-behavior: initial;
    --scrollbar-transition-duration: 0.2s;
    --scrollbar-transition-delay: .2s;
    --scrollbar-thumb-transition: height ease-out .2s, width ease-out .2;
    --scrollbar-track-transition: height ease-out .2, width ease-out .2;
  }

.chat-list {
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%;
    padding:  0;
    margin: 0;
    list-style: none;
    padding-bottom: 25px;
}

.index {
    padding: 0 15px;
    margin-bottom: 1rem;
    h2 {
        font-size: 2.2rem;
        margin-bottom: .60rem;
    }
    span {
        font-size: 15px;
        color: #9598ad;
    }
}

.chat-item-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    &:hover {
        background-color: rgba(238, 238, 238, 0.034);
    }
    &:hover {
        .message-options {
            display: flex;
            opacity: 1;
            visibility: visible;
        }
    }
    .message-options {
        flex-direction: row;
        align-items: center;
        background-color: #27292e;
        border-radius: 5px;
        border: 1px solid #3a3a3a;
        position: absolute;
        top: -10px;
        min-height: 30px;
        right: 20px;
        padding: 0;
        display: none;
        opacity: 0;
        visibility: hidden;
        .message-option {
            padding: 0;
            height: 100%;
            appearance: none;
            background-color: transparent;
            color: #fff;
            opacity: .6;
            border: none;
            cursor: pointer;
            height: 32px;
            width: 32px;
            svg {
                height: 22px;
                width: 22px;
            }
            &:hover {
                background-color: rgba(238, 238, 238, 0.068);
                opacity: 1;
            }
            &.delete {
                color: #e74c3c;
            }
        }
    }
}

.chat-item {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-right: 15px;
    padding-left: 65px;
    width: 100%;

    

    &.error {
        background: #e74c3c1c;
        color: #e74c3c;
    }
    &.replayState {
        &:before {
            content: "";
            position: absolute;
            left: 7px;
            top: 50%;
            bottom: 0;
            transform: translate(0, -50%);
            height: 70%;
            border-radius: 5rem;
            width: 3px;
            background-color: #3879fe;
        }
        background-color: rgba(56, 122, 255, 0.129);
    }
    &.replayedShow {
        animation: fade 1s forwards;
        background-color: rgba(56, 122, 255, 0.129);
        
    }
    &.replayedNotification {
        &:before {
            content: '';
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: #f39c12 !important;
        }
        background-color: #f39d1221;
    }

    .message-type {
        opacity: .6; 
    }
    
    .time {
        position: absolute;
        top: 24px;
        transform: translate(-50%, -50%);
        left: 31px;
        font-size: 10px;
        color: #8c90a3;
        opacity: 0;
        visibility: hidden;
    }
    &.same-block {
        padding-top: 3px;
        padding-bottom: 3px;
        &:hover {
            .time {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.first-block {
        padding-top: 7px;
        .time {
            display: none;
        }
    }


    .message-type {
        max-width: 100%;
        min-width: 100%;
    }
    &.recived {
        .baloon {
            opacity: 1;
        }
    }
    &.isOwn {
        // flex-direction: row-reverse;
        // padding-left: 15px;
        // padding-right: 60px;
        // .author {
        //     right: 15px;
        //     left: inherit;
        // }
        // .author-info{
        //     flex-direction: row-reverse;
        //     .datetime{
        //         margin-right: 8px;
        //     }
        // }
        // .baloon-wrapper  {
        //     flex-wrap: wrap-reverse;
        // }
    }
    .baloon-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5px;
        left: 15px;
        margin: auto 0;
        picture {
            height: 40px;
            width: 40px;
            display: block;
            border-radius: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(238, 238, 238, 0.089);
        }
    }
    .author-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        user-select: text;
        .name {
            font-weight: 600;
        }
        .datetime{
            margin-left: 8px;
            font-size: 11px;
            color: #9598ad;
        }
    }
    .baloon {
        border-radius: 0 20px 20px 20px;
        padding: 10px 15px 10px 10px;
        font-size: 15px;
        width: fit-content;
        background-color: #27292e;
        user-select: text;
        opacity: .6;
    }
}

.markdown {
    a {
        color: #fff;
    }
}



.row-date {
    width: 100%;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 11px;
    color: #9598ad;
    text-align: center;
}

.typing-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #9598ad;
    font-size: 13px;
}

.chat-text-wrapper {
    position: absolute;
    bottom: 0;
    min-height: 37px;
    display: flex;
    width: 100%;
    left: 0;
    padding-left: 16px;
    padding-right: 16px;
}

  
@keyframes blink { 50% { fill: transparent }}
.dot { 
  animation: 1s blink infinite;
  fill: grey;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

.loader {
  color: grey;
}

.replayedMessage {
    height: auto;
    width: 100%;
    height: 0;
    cursor: pointer;
    transition: all ease-in .140s;
    overflow: hidden;
    margin-bottom: 5px;
    &.show {
        height: 44px;
    }
    .replay-wrapper {
        &:before {
            content: '';
            height: 70%;
            position: absolute;
            left: 5px;
            width: 3px;
            background-color: #3879fe;
            border-radius: 5rem;
        }
        position: relative;
        padding: 0;
        color: #9598ad;
        padding: 5px 10px;
        padding-left: 15px;
        overflow: hidden;
        background-color: #202226;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        
        .replay-info {
            display: flex;
            flex-direction: column;
           
        }
        markdown {
            white-space: nowrap;
        }
       
    }
    .replay-options {
        button {
            cursor: pointer;
            height: 24px;
            width: 24px;
            padding: 0;
            border-radius: 50%;
            appearance: none;
            border: none;
            background-color: transparent;
            opacity: .6;
            color: #fff;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.text-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.message-replyed {
    padding: 8px;
    padding-left: 15px;
    background-color: #202226;
    border-radius: 8px;
    margin-bottom: 5px;
    color: #9598ad;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    &:hover {
        color: #fff;
    }
    &:before {
        content: "";
        position: absolute;
        left: 5px;
        top: 50%;
        bottom: 0;
        transform: translate(0, -50%);
        height: 70%;
        border-radius: 5rem;
        width: 3px;
        background-color: #3879fe;
    }
    .replay-author {
        display: flex;
        align-items: center;
        .name {
            font-weight: 600;
            margin-right: 5px;
        }
        picture {
            margin-right: 5px;
            height: 17px;
            width: 17px;
            border-radius: 10%;
            background-color: #3a3a3a;
        }
    }
    .replay-content {
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
@keyframes fade {
    from { background-color:rgba(56, 122, 255, 0.129); }
    to {background-color:rgba(56, 122, 255, 0);}
}
.bot {
    background-color: #6a5fff;
    color: #fff;
    font-size: 11px;
    padding: 1px 4px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 5px;
}

.only-you {
    color: #9598ad;
    margin-top: 5px;
}