<div class="dialog">
    <button mat-icon-button  class="close" mat-dialog-close>
        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
    </button>
    <div class="dialog-wrapper">
        <h2>Criar um servidor</h2>
        <p>Seu servidor é onde seus amigos, empresa ou grupo se reuném. Crie o seu e comece a interagir.</p>
        <div class="errorBox" *ngIf="error">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            {{ error }}
        </div>
        <div style="margin-top: 1rem;">
            <div class="form-control">
                <label for="">Nome do servidor</label>
                <input type="text" [formControl]="name" [ngClass]="{ 'hasError': name.invalid && (name.dirty && name.touched) }">
                <small class="error" *ngIf="name.invalid && (name.dirty && name.touched)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    {{ getError(this.name) }}
                </small>
            </div>
        </div>
    </div>

    <div class="align-buttons">
        <button mat-flat-button  style="margin-right: 10px;" mat-dialog-close>Cancelar</button>
        <button mat-flat-button color="primary" (click)="save()">Criar</button>
    </div>
</div>